/* Home.css */

/* Reset some default margin and padding values */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set a background color for the page */
body {
  background-color: #f4f4f4;
  width: 100%;
}

/* Container for the entire page */
.home-container {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Styling for the welcome message and log out button */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for the book container */
.book-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the "Available Books" text */
.available-books {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Styling for the book list */
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for individual book boxes */
.book-box {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for book images */
.book-image {
  width: 80%;
  height: auto;
}

/* Styling for book details */
.book-details {
  margin-top: 10px;
}

/* Styling for book titles */
.book-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Styling for book descriptions */
.book-details p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

/* Styling for book prices */
.book-details p.price {
  font-size: 18px;
  font-weight: bold;
  color: #d32f2f;
}
